<% form_for(@recording) do |f| %>
  <%= f.hidden_field :filename %>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Tags (comma separated)</b><br />
    <%= text_field_with_auto_complete :recording, :tag_list %>
  </p
  
  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>