<% form_for(@recording) do |f| %>
  <%= f.hidden_field :filename %>
  <%= f.hidden_field :length %>

  <p>
    <label for="recording_title">Title</label><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <label for="recording_tag_list">Tags (comma separated)</label><br />
    <%= text_field_with_auto_complete :recording, :tag_list %>
  </p
  
  <p>
    <label for="recording_description">Description</label><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <label for="recording_private">Make recording private</label><br />
    <%= f.check_box :private %>
  </p>
  
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>