<% modifiable ||= false %>

<div class="recording">
  <%= image_tag recording.thumbnail_path, :style => "width:120px; height:90px;" %>
  <p><%= link_to recording.title, recording %></p>
  <% if modifiable %>
  <p>
    <%= link_to 'Edit', edit_recording_path(recording) %>
    <%= link_to 'Destroy', recording, :confirm => 'Are you sure?', :method => :delete %>
  </p>
  <% else %>
    <p>By <%= link_to recording.user, user_recordings_path(recording.user) %></p>
  <% end %>
</div>