-modifiable ||= false

.recording
  = link_to image_tag(recording.thumbnail_path, :style => "width:120px; height:90px;"), recording
  %p= link_to truncate(recording.title, :length => 18), recording, :title => recording.title
  -if modifiable
    %p
      = link_to t("edit"), edit_recording_path(recording)
      = link_to t("destroy"), recording, :confirm => t("are_you_sure"), :method => :delete
  -else
    %p
      = t("by").capitalize
      = link_to recording.user, user_recordings_path(recording.user)