<h1>My Recordings</h1>

<table>
<% for recording in @recordings %>
  <tr>
    <td><%= image_tag recording.thumbnail_path, :style => "width:120px; height:90px;" %></td>
    <td width="200"><%= link_to recording.title, recording %></td>
    <td><%= link_to 'Edit', edit_recording_path(recording) %></td>
    <td><%= link_to 'Destroy', recording, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recording', new_recording_path %>
