<h1><%=h @recording.title %></h1>

<div id="flash">
  <object width="320" height="274">
    <param name="movie" value="/flash/recording_player.swf?recordingId=<%= @recording.id %>&host=<%= SITE_HOST %>"></param>
    <param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
    <embed src="/flash/recording_player.swf?recordingId=<%= @recording.id %>&host=<%= SITE_HOST %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="274"></embed>
  </object>
</div>

<p>
  <b>Length:</b>
  <%=h @recording.length_pretty %>
</p>

<p>
  <%=h @recording.description %>
</p>

<% if @recording.user == current_user %>
<%= link_to 'Edit', edit_recording_path(@recording) %>
<% end %>

<% if @recording.comments.present? %>
<h1>Comments</h1>

<%= render @recording.comments %>
<% end %>

<h1>Leave a Comment</h1>

<% if logged_in? %>
<% form_for @recording.comments.build do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.text_area :comment %><br />
  <%= f.submit "Submit" %>
<% end %>
<% else %>
  <p>You must be logged in to add comments.</p>
<% end %>