<h1><%=h @recording.title %></h1>

<div id="flash">
  <object width="320" height="274">
    <param name="movie" value="/flash/recording_player.swf?recordingId=<%= @recording.id %>&host=<%= SITE_HOST %>"></param>
    <param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
    <embed src="/flash/recording_player.swf?recordingId=<%= @recording.id %>&host=<%= SITE_HOST %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="274"></embed>
  </object>
</div>

<p>
  <b>Length:</b>
  <%=h @recording.length %>
</p>

<p>
  <b>Description:</b>
  <%=h @recording.description %>
</p>

<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
