-@page_title = @recording.title

#flash
  = swf_object "recording_player.swf?recordingId=#{@recording.id}&host=#{SITE_HOST}", 320, 274

%p
  %strong= t(".created")
  = time_pretty(@recording.created_at) + " (" + time_ago(@recording.created_at) + ")"
%p
  %strong= t(".views")
  = @recording.views
%p
  %strong= Recording.human_attribute_name("length")
  = @recording.length_pretty

%p
  =h @recording.description

-if @recording.user == current_user
  =link_to t("edit"), edit_recording_path(@recording)

-if @recording.comments.present?
  %h1= t("comments.comments")
  = render @recording.comments

%h1= t("comments.leave_comment")

-if logged_in?
  -form_for @recording.comments.build do |f|
    = f.hidden_field :commentable_id
    = f.hidden_field :commentable_type
    = f.text_area :comment
    = f.submit t("submit")
-else
  %p= t("comments.must_be_logged_in")