-@page_title = t("sign_up")

- form_for @user do |f|
  = f.error_messages

  = f.text_field :login
  = f.text_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  
  = f.submit t("submit")

%h1= t(".open_id_title")

- form_tag new_with_open_id_users_path do
  %p
    = label_tag "openid_identifier", "OpenID"
    %br
    = text_field_tag "openid_identifier"
  = submit_tag t("submit")
