-@page_title = t("sign_up")

- form_for @user do |f|
  = f.error_messages

  = f.text_field :login
  = f.text_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  
  = f.submit t("submit")
