-@page_title = t(".title")

%p= t(".explanation", :login => @user.login)

-form_for @user, :url => reset_password_path do |f|
  = f.error_messages
  
  = f.password_field :password, :label => t(".select_new_password")
  = f.password_field :password_confirmation
  
  = f.submit t("submit")
