<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>GonzoBan</title>
		<%= javascript_include_tag(:all) %>
		<%= stylesheet_link_tag "application" %>
  </head>
  <body>
  
  <div id="site">
      <div id="header">
        <% if logged_in? %>
          You are logged in as: <%= current_user.login %> |
          <%= link_to 'Edit profile', edit_user_path(current_user) %> |
          <%= link_to 'Log out', session_path, :method => :delete %>
        <% else %>
          You are not logged in.
          <%= link_to 'Log in', login_path %> or <%= link_to 'Register', new_user_path %>
        <% end %>
      </div>
    
      <div id="content">
        <% [:notice, :error].each do |message| %>
          <div id="<%= message %>" class="flash_message" style="display: <%= flash[message] ? 'block' : 'none' %>">
            <%= h(flash[message]) if flash[message] %>
          </div>
        <% end %>
        
        <%= yield %>      
      </div>
  </div>
  
  </body>
</html>