!!!
%html{html_attrs(I18n.locale)}
  %head
    %title= "#{t('site_name')} - #{@page_title}"
    = javascript_include_tag :all
    = stylesheet_link_tag "application"
  %body
    #site
      #header
        %h1= t("site_name")
        = render :partial => "layouts/user_info"
        .clear
      #menu
        = render :partial => "layouts/menu"
        .clear
      #content
        = render :partial => "layouts/flash_messages"
        %h1= @page_title
        = yield
        .clear