!!!
%html{html_attrs(I18n.locale)}
  %head
    %title= "#{t('site_name')} - #{@page_title}"
    = javascript_include_tag :all
    = stylesheet_link_tag "application"
    - if @feed_url
      %link{:rel => "alternate", :type => "application/atom+xml", :title => @page_title, :href => @feed_url}    
  %body
    #site
      #header
        %h1= t("site_name")
        = render :partial => "layouts/user_info"
        .clear
      #menu
        = render :partial => "layouts/menu"
        .clear
      #content
        = render :partial => "layouts/flash_messages"
        %h1= @page_title
        = yield
        .clear
      /#footer
      /  = render :partial => "layouts/footer"
      /.clear
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-8147079-1");
      pageTracker._trackPageview();
      } catch(err) {}